*{
    box-sizing: border-box;
    margin: 0;
    margin: 0;
    background-color: #f7f7f7;
}



img{
    width: 170px;
    height: 150px;
    cursor: pointer;
    /* background-color: aqua; */
}




header{ /*BTS main logo*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 49px 4% 29px 4%;
    /* background-color: aquamarine; */
}



.nav_links{ /* Header links Spacing*/
    list-style: none;
    padding-bottom: 70px;
    cursor: pointer;
    
    
}
.nav_links2 { /* Header links style*/
    list-style: none;
    cursor: pointer;
    padding-left: 10px;

}
.nav_links li{
   display: inline-block;
   padding:0px 20px;
    padding-left: 40px;
    font-weight: bold;
   
}
.nav_links2 li{
    display: inline-block;
    padding:0px 20px;
    padding-left: 90px;
    /* background-color: aquamarine; */
} 

.brand_name{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.brand_container{
    display: flex;
    align-items: center;
}


.bts .bts2{
    font-weight: bold;
    font-size: 30px;
    /* position: absolute; */
    /* left: 240px;    */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.bar{
    background-color: #6667AB;
    display: flex;
    padding:15px;
    width:auto; 
}   

.armyCon{
    /* background-color: aqua; */
    margin-top: -70px;
    padding-bottom: 30px;
    
}

.armyzz{
    /* background-color: aquamarine; */
    margin-left: 65%;
    width: 22px;
    height: 40px;
}

.bar{
    background-color: #6667AB;
    display: flex;
    padding:15px;
    width:auto; 
}   


.grid-container {
    overflow: hidden;
    /* display: grid; */
    display: flex;
    margin-left: auto;
    
    grid-template-columns: 1fr 1fr;
    /* grid-gap: -50px;  */
}

.mid_body{    /*Main body div for mid grid*/
    padding-top: 30px;
    /* background-color: aqua; */
    overflow: hidden;
    
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px; 
}

.mid_body p{
    
    max-width: 335px;
    min-width: 335px;
    height: 400px;
    padding-left: 8px;
}

.ul_text{
    padding-left: 20px;
    text-decoration: underline;
    background-color: #d9d9ea;
    line-height: 25px;
    
}
.texxt{
    padding-left: 20px;
    padding-top: 10px;
    max-width: 337px;
    min-width: 337px; 
    line-height: 25px;
}
.texxt2{
    padding-left: 20px;
    padding-top: 10px;
    max-width: 309px;
    min-width: 309px; 
}

.texxt,.txm, .texxt2{ /* Text BG color*/
    background-color: #d9d9ea;
}
.texxt3{ /* Text BG color*/
    background-color: #d9d9ea;
    max-width: 330px;
    min-width: 330px;
}
.texxt4{ /* Text BG color*/
    font-size: 15px;
    line-height: 26px;
    margin-top: 15px;
    background-color: #d9d9ea;
    max-width: 339px;
    min-width: 329px;
    padding-left: 13PX;
    
}




.book_texx{ /* middle book postion*/
    margin-left: 50px;
    
}

.tezz{ /* text in middle box*/
    line-height: 25px;
    background-color: #d9d9ea;
    margin-top: 10px  
    
}

.button1 button{
    margin-top: 20px;
    margin-left: 28px;
    text-align: center;
    width: 200px;
    height: 40px;
    display: block;
    border: none;
    background-color: #6667ab;
    color: #d9d9ea;
    cursor: pointer;
}

.button1{
    background-color: #d9d9ea;
    margin-bottom: 20px;
    
}

.button2 button{
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    width: 200px;
    height: 40px;
    display: block;
    border: none;
    background-color: #6667ab;
    color: #d9d9ea;
    cursor: pointer;
}



.button2{
    background-color: #d9d9ea;
    margin-bottom: 20px;
    
}

.top10{
    padding: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-bottom: 50px;
    /* width: 500px; */
    width: auto;
    height:220px  
     
    
}

.heart{
    padding-left: 30px;
    padding-top: 7px;
    width: 200;
    height: 200px;
    padding: 9px 0px;
    margin-bottom: 50px;
    
}

.grid_child_2 img{
    padding: 20px;
    height: 90px;
    width: 500px;
    
}



.box_text{
    /* padding-top: 20px; */
    /* margin-top: 60px; */
    height: 305px;
    width: 500px;
    /* margin-right: 50px; */
    
}

.box{
    overflow: hidden;
    margin-left: 0px;
    margin-top: 80px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    height: auto; 
     
}

.space{
    padding-top: 80px;
}


